In [1]:
import pandas as pd

df = pd.read_excel("A_and_B_Combined_and_Results.xlsx", sheet_name=0)
df.head()

  group          date                 day   Y  X1   X2  X3
0     A  42919.385475 2017-07-03 09:15:05  25   9  169  25
1     A  42919.385509 2017-07-03 09:15:08  20  10  138  34
2     A  42919.385544 2017-07-03 09:15:11  20   9  149  36
3     A  42919.385613 2017-07-03 09:15:17  24   6  146  34
4     A  42919.386563 2017-07-03 09:16:39  23   7  143  36

In [2]:
# A -> 0, B -> 1
df["group"].replace("A", 0, inplace=True)
df["group"].replace("B", 1, inplace=True)

In [3]:
df.head()

   group          date                 day   Y  X1   X2  X3
0      0  42919.385475 2017-07-03 09:15:05  25   9  169  25
1      0  42919.385509 2017-07-03 09:15:08  20  10  138  34
2      0  42919.385544 2017-07-03 09:15:11  20   9  149  36
3      0  42919.385613 2017-07-03 09:15:17  24   6  146  34
4      0  42919.386563 2017-07-03 09:16:39  23   7  143  36

In [4]:
len(df)

20211

In [5]:
df.group.describe()

count    20211.000000
mean         0.517936
std          0.499691
min          0.000000
25%          0.000000
50%          1.000000
75%          1.000000
max          1.000000
Name: group, dtype: float64

In [6]:
Y = df.group
X = df[['date','Y', 'X1', 'X2', 'X3']]

In [7]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.model_selection import train_test_split

bin_clf = LogisticRegression()

X_train, X_test, Y_train, Y_test = train_test_split(X, Y,
                                                    test_size=0.2,
                                                    random_state=0,
                                                    stratify=Y)
bin_clf.fit(X_train, Y_train)
Y_test_pred = bin_clf.predict(X_test)

metrics.accuracy_score(Y_test, Y_test_pred)

1.0

In [8]:
print(metrics.classification_report(Y_test, Y_test_pred))

             precision    recall  f1-score   support

          0       1.00      1.00      1.00      1949
          1       1.00      1.00      1.00      2094

avg / total       1.00      1.00      1.00      4043

In [9]:
print(metrics.confusion_matrix(Y_test, Y_test_pred))

[[1949    0]
 [   0 2094]]

In [10]:
bin_clf.coef_

array([[ 0.00026891, -0.01148142, -0.00927764, -0.17032015, -0.0367705 ]])

In [11]:
bin_clf.intercept_

array([-6.47810729e-09])

In [12]:
Y_pred = bin_clf.predict(X)
print(metrics.confusion_matrix(Y, Y_pred))

[[ 9743     0]
 [    0 10468]]